<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      <ion-img src="assets/icon/LOGO3.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><ion-img src="assets/icon/LOGO3.png"></ion-img></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="square" size="large" onclick="window.open('https://mate.codecircle.co.il/', '_system');" ><span class="wrap-text">טופס פעילות ייחודית</span></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="square" size="large" onclick="window.open('https://mate.codecircle.co.il/', '_system');"><span class="wrap-text">טופס תקלות</span></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="square" size="large" onclick="window.open('https://mate.codecircle.co.il/', '_system');">נוכחות<i class="gg-check-r"></i></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="square" size="large" onclick="window.open('https://mate.codecircle.co.il/', '_system');">לוז שבועי</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="square" size="large" onclick="window.open('https://mate.codecircle.co.il/', '_system');">לוז שנתי<i class="gg-calendar"></i></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button class="content-center" fill="clear" size="medium" onclick="window.open('https://mate.codecircle.co.il/', '_system');"><ion-img src="assets/facebook.png" class="social"></ion-img></ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="content-center" fill="clear" size="medium" onclick="window.open('https://mate.codecircle.co.il/', '_system');" ><ion-img src="assets/Instagram.webp" class="social"></ion-img></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
